$backgroung-nav: #364760;
$flex: flex;
$left: left;
$right: right;
$column: column;
$center: center;
$border-box: border-box;
$width: 100%;
$height: 100vh;
$none: none;
$pointer: pointer;
$flex-start: flex-start;
$default-border-radius:10px;
$row:row;
$darkgray:darkgray;
$default-border:1px;
$scroll:scroll;
$normal:normal;
