$backgroundmain: #F5F7FA;
$width:100%;
$height:100Vh;
$flex:flex;
$hidden:hidden;
$center:center;
$column:column;
$width-nav:15%;
$backgroud: #364760;
$pointer:pointer;
$right:right;
$ten:10px;
$left:left;
$normal:normal;
$auto:auto;
$none:none;
