@import "src/sass/variable";
@import "src/sass/mixin";

* {
  padding: 0;
  margin: 0;
  box-sizing: $border-box;
}

.background-admin {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
}
